/* Breakpoints */

// $breakpoint-sm: 360px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 1024px;
// $breakpoint-xl: 1280px;

:root {
  /* Greys */
  --grey05: #f7f7f7;
  --grey20: #e5e6e8;
  --grey30: #d1d1d6;
  --grey40: #c7c7cc;
  --grey60: #8e8e93;
  --grey70: #61616a;
  --grey80: #35353f;
  --grey90: #16161f;
  --grey-river: #484d56;

  /* Basics */
  --black: #000;
  --white: #fff;

  /* Colour names come from 'Name that Color' http://chir.ag/projects/name-that-color */

  --blue-almex: #3b6e8f;
  --red-piper: #d65f27;

  --dark-blue: #00324e;
  --dark-blue80: #335c71;
  --dark-blue60: #668595;
  --dark-blue40: #899da8;
  --dark-blue20: #ccd6dc;
  --prussian-blue: #00334e;
  --prussian-blue80: #335c71;
  --prussian-blue60: #668595;
  --prussian-blue40: #99adb8;
  --prussian-blue20: #ccd6dc;
  --light-grey: #a1a1a4;
  --light-grey80: #b4b4b6;
  --light-grey60: #c7c7c8;
  --light-grey40: #d9d9db;
  --light-grey20: #ececed;
  --bright-gold: #f0ab00;
  --bright-gold80: #f3bc33;
  --bright-gold60: #f6cd66;
  --bright-gold40: #f9dd99;
  --bright-gold20: #fceecc;
  --gold: #d69f3b;
  --gold80: #deb262;
  --gold60: #e6c589;
  --gold40: #efd9b1;
  --gold20: #f7ecd8;
  --blue: #3b6e8f;
  --blue80: #628ba5;
  --blue60: #89a8bc;
  --blue40: #b1c5d2;
  --blue20: #d8e2e9;
  --olive: #8a8d09;
  --olive80: #a1a43a;
  --olive60: #b9bb6c;
  --olive40: #d0d19d;
  --olive20: #e8e8ce;
  --chocolate: #d06f1a;
  --chocolate80: #d98c48;
  --chocolate60: #e3a976;
  --chocolate40: #ecc5a3;
  --chocolate20: #f5e2d1;
  --violet: #492f92;
  --violet80: #6d59a8;
  --violet60: #9282be;
  --violet40: #b6acd3;
  --violet20: #dbd5e9;

  /* default easing */
  --easeinout: all 0.2s ease-in-out;

  /* common menu drop-shadow setting */
  --menu-shadow: 0px 7px 20px -9px rgba(0, 0, 0, 0.75);
}
