/* Breakpoints */

// $breakpoint-sm: 360px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 1024px;
// $breakpoint-xl: 1280px;

/* Greys */
$grey90: #16161f;
$grey80: #35353f;
$grey70: #61616a;
$grey60: #8e8e93;
$grey40: #c7c7cc;
$grey30: #d1d1d6;
$grey20: #e5e6e8;
$grey05: #f7f7f7;
$grey-river: #484d56;

$light-grey: #a1a1a4;
$light-grey80: #b4b4b6;
$light-grey60: #c7c7c8;
$light-grey40: #d9d9db;
$light-grey20: #ececed;

/* Basics */
$black: #000;
$white: #fff;

/*
  Color names come from 'Name that Color' 
  http://chir.ag/projects/name-that-color
*/

/* lightweight */
$allports: #027b98;
$allports80: #3595ad;
$allports60: #67b0c1;
$allports40: #9acad6;
$allports30: #b4d8e1;
$allports20: #cce5ea;
$allports10: #e6f2f5;

$blue: #3b6e8f; //AKA Almex Blue
$blue80: #628ba5;
$blue60: #89a8bc;
$blue40: #b1c5d2;
$blue20: #d8e2e9;

$chocolate: #d06f1a;
$chocolate80: #d98c48;
$chocolate60: #e3a976;
$chocolate40: #ecc5a3;
$chocolate20: #f5e2d1;

$dark-blue: #00324e;
$dark-blue80: #335c71;
$dark-blue60: #668595;
$dark-blue40: #899da8;
$dark-blue20: #ccd6dc;

$gold: #d69f3b;
$gold80: #deb262;
$gold60: #e6c589;
$gold40: #efd9b1;
$gold20: #f7ecd8;

$olive: #8a8d09;
$olive80: #a1a43a;
$olive60: #b9bb6c;
$olive40: #d0d19d;
$olive20: #e8e8ce;

/* heavyweight, industrial & fusion cold */
$prussian-blue: #00334e;
$prussian-blue80: #335c71;
$prussian-blue60: #668595;
$prussian-blue40: #99adb8;
$prussian-blue30: #b3c2ca;
$prussian-blue20: #ccd6dc;
$prussian-blue10: #e6ebee;

$red-piper: #d65f27;

/* fusion hot */
$tango: #e87222;
$tango80: #ed8e4e;
$tango60: #f1aa7a;
$tango40: #f6c7a7;
$tango30: #f9d5bd;
$tango20: #fae3d3;
$tango10: #fce5d6;

$violet: #492f92;
$violet80: #6d59a8;
$violet60: #9282be;
$violet40: #b6acd3;
$violet20: #dbd5e9;

$yellow-sea: #f2a900;
$yellow-sea80: #f5ba33;
$yellow-sea60: #f7cb66;
$yellow-sea40: #fadd99;
$yellow-sea30: #fce6b3;
$yellow-sea20: #fceecc;
$yellow-sea10: #fef7e6;

/* default easing */
$easeinout: all 0.2s ease-in-out;
$easeinout-slower: all 0.8s ease-in-out;

/* common menu drop-shadow setting */
$menu-shadow: 0px 7px 20px -9px rgba(0, 0, 0, 0.75);
