/* Greys */
$pal-grey05: #f7f7f7;
$pal-grey20: #e5e6e8;
$pal-grey30: #d1d1d6;
$pal-grey40: #c7c7cc;
$pal-grey60: #8e8e93;
$pal-grey70: #61616a;
$pal-grey80: #35353f;
$pal-grey90: #16161f;

/* Basics */
$pal-black: #000;
$pal-white: #fff;
