@import 'base';
$spacing: 20px;

.downloads-page {
  padding-left: 10px;
  padding-right: 10px;
  @include media('>=tablet') {
    padding-left: 0;
    padding-right: 0;
  }

  .downloads-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .banner-wrapper {
      border-bottom: 15px solid $blue;
      &.blue {
        border-bottom: 15px solid $prussian-blue;
        @include media('>=tablet') {
          border-bottom: none;
        }
      }
      &.orange {
        border-bottom: 15px solid $tango;
        @include media('>=tablet') {
          border-bottom: none;
        }
      }
      @include media('>=tablet') {
        border-bottom: none;
      }
      .banner-image {
        height: 200px;
        @include media('>=tablet') {
          height: auto;
          max-height: 340px;
          border-bottom: 15px solid $blue;
          &.blue {
            border-bottom: 15px solid $prussian-blue;
          }
          &.orange {
            border-bottom: 15px solid $tango;
          }
        }
        img {
          max-height: 325px;
        }
        .graphcms-image-outer-wrapper,
        .graphcms-image-wrapper {
          max-height: inherit;
        }
      }
    }
    .intro-container {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      width: 100%;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .intro-content {
        .title {
          font-size: 30px;
          color: $prussian-blue;
          font-weight: 700;
          padding-left: 10px;
          padding-right: 10px;
          @include media('>=tablet') {
            padding-left: 40px;
            padding-right: 40px;
          }
        }
        .description {
          font-size: 24px;
          line-height: normal;
          padding-left: 10px;
          padding-right: 10px;
          @include media('>=tablet') {
            padding-left: 40px;
            padding-right: 40px;
          }
          img {
            padding: 0 0 5px;
            @include media('>=tablet') {
              float: left;
              padding: 5px 20px 5px 0;
            }
          }
        }
      }
    }
    hr.divider {
      background-color: $blue;
      height: 5px;
      margin-left: 10px;
      margin-right: 10px;
      @include media('>=desktop') {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
    .downloads {
      padding-left: 10px;
      padding-right: 10px;
      @include media('>=tablet') {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    .downloads {
      font-size: 18px;
      line-height: normal;
      column-rule: dotted 1px $blue;
      @include media('>=tablet') {
        padding: 40px;
        columns: 2 auto;
        font-size: 24px;
      }
      @include media('>=desktop') {
        columns: 3 auto;
      }
      p {
        width: 100%;
        margin-bottom: 30px;
        a,
        a:active,
        a:visited {
          color: $prussian-blue60;
          text-decoration: none;
          display: inline-flex;
          padding: 0 10px 15px 20px;
          &:hover {
            color: $yellow-sea;
            text-decoration: underline;
            transition: $easeinout;
          }
        }
      }
      &.blue .heading {
        background-color: $prussian-blue;
      }
      &.orange .heading {
        background-color: $tango;
      }
      .heading {
        width: 100%;
        display: inline-block;
        padding: 10px 20px;
        margin-block-start: 0;
        margin-block-end: 0.5em;
        letter-spacing: 0.3px;
        line-height: 1em;
        color: $white;
      }
    }
  }
}
