.footer {
  background-color: var(--grey70);
  background-image: url('../../static/img/triangles.svg');
  background-repeat: no-repeat;
  background-position: right;
  .footer-container {
    color: var(--white);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    .footer-top {
      padding-top: 70px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-middle {
      padding-bottom: 20px;
      .brands {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 3px solid var(--grey40);
        background-color: var(--grey70);
        padding-top: 10px;
        padding-bottom: 10px;
        .almex-box,
        .bat,
        .cobra,
        .emsys,
        .fusion,
        .institute,
        .knight,
        .rampart,
        .votech {
          margin-left: 10px;
          margin-right: 10px;
          a {
            opacity: 0.8;
            display: inline-block;
            &:hover {
              opacity: 1;
            }
          }
        }
        .almex-box a {
          width: 135px;
          height: 46px;
          background-image: url('../../static/img/logo-almex-box.png');
          background-position-y: -92px;
          // background-color: #fff;
        }
        .fusion a {
          width: 154px;
          height: 35px;
          background-image: url('../../static/img/logo-fusion.png');
          background-position-y: -70px;
        }
        .emsys a {
          width: 135px;
          height: 38px;
          background-image: url('../../static/img/logo-emsys.png');
          background-position-y: -76px;
        }
        .bat a {
          width: 101px;
          height: 72px;
          background-image: url('../../static/img/logo-bat.png');
          background-position-y: -144px;
        }
        .cobra a {
          width: 110px;
          height: 67px;
          background-image: url('../../static/img/logo-cobra.png');
          background-position-y: -134px;
        }
        .votech a {
          width: 179px;
          height: 66px;
          background-image: url('../../static/img/logo-votech.png');
          background-position-y: -132px;
        }
      }
    }
    .footer-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    .address {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .phone,
    .email,
    .support,
    .chat {
      line-height: 20px;
    }
    .phone,
    .support {
      margin-top: 20px;
    }
    .email {
      margin-top: 10px;
    }
    .chat {
      margin-top: 10px;
      a {
        color: var(--white);
        &:hover {
          color: var(--yellow-sea);
        }
        transition: var(--easeinout);
      }
    }
    .contact-icon {
      width: 15px;
      margin-right: 5px;
    }
    .email-link,
    .social-media-link,
    .footer-link {
      color: var(--white);
      transition: all 0.3s ease-in;
      text-decoration: none;
      &:visited {
        color: var(--white);
      }
      &:active,
      &:hover {
        color: var(--yellow-sea);
        text-decoration: underline;
      }
    }
    .footer-link {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    .social-media-icon {
      margin-right: 10px;
    }
  }
}
