@import 'include-media.scss';

html {
  background-color: #eee;
}

.siteContainer {
  width: 100%;
}
.pageContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

p {
  @include media('>=phone', '<=tablet') {
    font-size: 1.5rem;
  }

  @include media('>tablet') {
    font-size: 1.5rem;
  }
}
