@import 'include-media';
@import 'a11y';

html {
  background-color: var(--white);
  // outline: 2px solid black;
  // &.no-focus-outline a:focus,
  // &.no-focus-outline button:focus {
  //   outline: none;
  // }
}

.siteContainer {
  width: 100%;
}
.pageContainer {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 1.714rem;
  line-height: 0.9167;
  // letter-spacing: -0.41px;
  // font-size: 24px;
  // line-height: 22px;
  letter-spacing: -0.41px;
}

p {
  @include media('>=phone', '<=tablet') {
    // font-size: 1.5rem;
  }

  @include media('>tablet') {
    // font-size: 1.5rem;
  }
}

button {
  appearance: none;
  background: transparent;
  background-color: var(--blue);
  border-radius: 5px;
  height: 36px;
  color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  &:active {
    background-color: var(--blue);
  }
  &.form-button {
    min-width: 75px;
  }
}
