@import 'include-media';
@import 'mixins';

.header {
  width: 100%;
  padding-left: 13px;
  background-color: var(--white);
  z-index: 99;
  .contents {
    height: 60px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      .horizontal {
        display: none;
        @include media('>=tablet') {
          display: block;
        }
      }
      .vertical {
        @include media('>=tablet') {
          display: none;
        }
      }
    }
    img {
      margin-bottom: 0;
    }
    .active-section-mobile {
      font-size: 18px;
      line-height: 22px;
      color: var(--blue);
    }
    .menu-icon {
      color: var(--blue);
    }
    button.mobile-menu {
      appearance: none;
      background: transparent;
      border: 0;
      height: 30px;
    }
    .search-icon {
      color: var(--black);
      opacity: 0.65;
      height: 25px;
    }
    nav {
      display: none;
    }
    .sections {
      display: none;
    }
  }
  @include media('>=tablet') {
    height: 150px;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    .contents {
      padding-left: 20px;
      height: 90px;
      max-width: 1280px;
      margin: 0 auto;
      .active-section-mobile {
        display: none;
      }
      button.mobile-menu {
        display: none;
      }
      .options-container {
        align-self: flex-start;
        z-index: 1;
        .options {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          height: 40px;
          color: var(--grey60);
          font-size: 20px;
          line-height: normal;
          .search,
          .brands,
          .login {
            display: flex;
            align-items: center;
            padding-left: 30px;
            padding-right: 30px;
          }
          .brands-icon {
            color: var(--bright-gold);
          }
          .search {
            input {
              margin-right: 5px;
              width: 250px;
              font-size: 18px;
            }
            height: 40px;
            .search-icon {
              margin-left: 10px;
            }
          }
          .brands {
            height: 30px;
            border-left: 1px solid var(--grey40);
          }
          .login {
            height: 40px;
            background-color: var(--dark-blue);
            color: var(--white);
          }
        }
        .tagline-container {
          display: flex;
          justify-content: flex-end;
          .tagline {
            font-size: 18px;
            font-style: italic;
            margin-top: 15px;
          }
        }
      }
    }
  }
  nav {
    display: block;
    background-color: var(--grey80);
    .sections {
      display: flex;
      height: 60px;
      max-width: 1280px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      position: relative;
      .section-container {
        display: flex;
        flex-direction: column;
        &:not(:first-child) {
          margin-left: 85px;
        }
        .section {
          .section-trigger {
            color: var(--white);
            border: 0;
            padding: 0;
            background: none;
            @include neue-med;
            font-size: 20px;
            text-decoration: none;
            white-space: nowrap;
            transition: var(--easeinout);
            cursor: pointer;
            &:hover,
            &.is-open {
              color: var(--bright-gold);
              .indicator {
                opacity: 1;
              }
            }
            .indicator {
              display: block;
              height: 6px;
              width: 25px;
              border-bottom: 3px solid var(--bright-gold);
              opacity: 0;
              transition: var(--easeinout);
            }
          }

          // &.active {
          // background: no-repeat url('../../static/nav-active.svg');
          // background-position: center 20px;
          // }
        }
        .section-menu-container {
          cursor: default;
          display: none;
          background-color: var(--grey-river);
          width: calc(100% - 40px);
          position: absolute;
          // left: calc(100)
          // left: 0;
          top: 60px;
          padding-left: 70px;
          padding-right: 50px;
          box-shadow: var(--menu-shadow);
          &.visible {
            display: flex;
            flex-direction: column;
          }
          left: 20px;
          width: calc(100% - 40px);

          @include media('>=tablet') {
            left: 20px;
            width: calc(100% - 40px);
          }
          @include media('>=desktop') {
            left: calc((100% - 900px) / 2);
            max-width: 900px;
          }
          .title {
            @include neue-med;
            color: var(--bright-gold);
            font-size: 15px;
            text-decoration: underline;
            margin-top: 20px;
          }
          .menu-container {
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 25px;
            padding-top: 35px;
            @include neue-med;
            .category {
              width: calc(100% / 3);
              display: inline-flex;
              color: var(--white);
              font-size: 13px;
              height: 36px;
              align-items: center;
              padding-left: 10px;
              &:nth-child(3n + 2),
              &:nth-child(3n + 3) {
                padding-left: 25px;
                border-left: 1px solid var(--white);
              }
              a {
                color: var(--white);
                text-decoration: none;
                &:hover {
                  color: var(--bright-gold);
                  text-decoration: underline;
                  transition: var(--easeinout);
                }
              }
            }
          }
        }
      }
    }
  }
}
