@import 'include-media.scss';

.header {
  height: 60px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin-bottom: 0;
  }
  .active-section-mobile {
    font-size: 18px;
    line-height: 22px;
    color: var(--blue-astral);
  }

  @include media('>=tablet') {
    .active-section-mobile {
      display: none;
    }
  }
}
