@import 'base';
$spacing: 20px;

.history {
  padding-left: 10px;
  padding-right: 10px;

  @include media('>=tablet') {
    padding-left: 0;
    padding-right: 0;
  }
  .history-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: repeating-linear-gradient(
      -238deg,
      #c8d6df 0% 10%,
      #bfd0da 10% 25%,
      #b9cbd7 25% 35%,
      #b2c5d3 35% 65%,
      #b9cbd7 65% 75%,
      #bfd0da 75% 90%,
      #c8d6df 90% 100%
    );
    .banner-wrapper {
      border-bottom: 15px solid $blue;
      @include media('>=tablet') {
        border-bottom: none;
      }
      .banner-image {
        height: 200px;
        @include media('>=tablet') {
          height: auto;
          max-height: 340px;
          border-bottom: 15px solid $blue;
        }
        img {
          max-height: 325px;
        }
      }
    }
    .intro-container {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      width: 100%;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .intro-content {
        padding-left: 10px;
        padding-right: 10px;
        @include media('>=tablet') {
          padding-left: 40px;
          padding-right: 40px;
        }
        .title {
          font-size: 20px;
          color: $prussian-blue;
          font-weight: 700;
          @include media('>=tablet') {
            font-size: 30px;
          }
        }
        .description {
          font-size: 18px;
          line-height: normal;
          @include media('>=tablet') {
            font-size: 24px;
          }
          img {
            padding: 0 0 5px;
            @include media('>=tablet') {
              float: left;
              padding: 5px 20px 5px 0;
            }
          }
        }
      }
    }
    .timeline {
      display: inline-block;
      position: relative;
      margin-top: 40px;
      ul {
        &:before {
          /* timeline line */
          position: absolute;
          // left: calc(50% - 1px);
          left: calc(5% - 1px);
          // transform: translate(-50%, 0);
          border-left: 2px solid $white;
          // background-color: $white;
          content: '';
          width: 1px;
          height: 100%;
          top: 0;
          z-index: 0;
          @include media('>=tablet') {
            left: calc(50% - 1px);
          }
        }
        padding: 0;
        margin: 0;
      }
      li {
        position: relative;
        // left: calc(50% + 10px);
        // left: 50%;
        left: 5%;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        transform: translateY(112px);
        margin-bottom: 0;
        padding-bottom: 50px;
        top: -5px;
        @include media('>=tablet') {
          left: 50%;
          width: 50%;
          max-width: 400px;
        }
        &:before {
          content: '\2022';
          display: block;
          position: absolute;
          left: -6px;
          top: 0;
          font-size: 35px;
          color: $white;
          line-height: 13px;
        }
        &.in-view {
          transform: translateY(0);
          transition: all 0.8s cubic-bezier(0, 0.7, 0.4, 1);
        }
        &.almex {
          &:before {
            color: $yellow-sea;
          }
          .content {
            transform: translateX(0);
            text-align: left;
            .details {
              &:hover {
                border: 2px solid $yellow-sea;
                cursor: pointer;
              }
            }
          }
        }
        button.content {
          background: none;
          border: none;
          color: inherit;
          height: auto;
          padding-left: 10px;
          padding-right: 10px;
          cursor: default;
        }
        .content {
          // display: flex;
          // flex-direction: row;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          // transform: translateX(0);
          // text-align: right;
          margin-top: -8px;
          @include media('>=tablet') {
            text-align: right;
            transform: translateX(-100%);
            flex-direction: column;
          }
          .details {
            border: 2px solid transparent;
            padding: 5px;
          }
          .thumbnail {
            margin-top: 15px;
            max-width: 120px;
          }
        }
      }
    }
    .other-content {
      height: 50px;
      display: block;
    }
    .timeline-shroud {
      background-color: rgba(155, 155, 155, 0.5);
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: 100;
      display: block;
      opacity: 0;
      transition: $easeinout-slower;
      pointer-events: none;
      &.in-view {
        display: block;
        opacity: 1;
      }
    }
    .timeline-modal {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      transform: translateY(100%);
      z-index: 101;
      overflow-y: hidden;
      transition: all 0.8s ease-in-out;
      // $easeinout: all 0.2s ease-in-out;
      &.in-view {
        transform: translateY(0%);
        overflow-y: auto;
      }
      .modal-container {
        position: absolute;
        min-height: 100%;
        // padding-top: 200px;
        color: #61616a;
        /* overflow-y: scroll; */
        /* top: 0; */
        /* bottom: 0; */
        /* left: 0; */
        /* right: 0; */
        display: flex;
        flex-direction: column;
        width: 100%;
        .top {
          background-image: url('../../static/img/modal-top.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 16.667vw;
          margin-top: -7px;
          @include media('>=tablet') {
            margin-top: -10px;
          }

          .close-container {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            .close-menu {
              border: 0;
              background-color: $grey80;
              padding: 0;
              height: 40px;
              width: 40px;
            }
          }
        }
        .content-container {
          display: flex;
          flex: 1 1 0;
          width: 100%;
          flex-direction: column;
          background: $white;
          width: 100%;
          margin: 0 auto;
          .content {
            max-width: 1280px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            @include media('>=tablet') {
              padding-left: 100px;
              padding-right: 100px;
            }
            p {
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
