@import 'include-media';
$spacing: 20px;

// .carousel-container {
//   position: relative;
.carousel {
  overflow: hidden;
  .slider-control-bottomcenter {
    bottom: -15px !important;
  }
  .slider-frame {
    ul.slider-list {
      li.slider-slide {
        // .slide {
        //   height: 70px !important;
        //   padding-bottom: 42%;
        // }
        max-height: 536px;
      }
    }
  }
  .slide-image {
    height: 0;
    width: 100%;
    padding-bottom: 42%;
    background-size: cover;
    background-position: center;
  }
  .slide-video {
    height: 0;
    width: 100%;
    padding-bottom: 42%;
  }
  .left-controls,
  .right-controls {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: var(--white);
    color: var(--gray80);
    opacity: 0.7;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    &:hover {
      opacity: 1;
    }
  }
  .left-controls {
    margin-left: 20px;
    .left-controls-icon {
      position: absolute;
      top: 2.5px;
      left: 12px;
    }
  }
  .right-controls {
    margin-right: 20px;
    .right-controls-icon {
      position: absolute;
      top: 2.5px;
      right: 12px;
    }
  }

  .heading-container {
    width: 100%;
    background-color: var(--bright-gold);
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 0;
    .heading {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding-left: 90px;
      padding-right: 90px;
      color: var(--white);
      font-size: 24px;
      display: flex;
      align-items: center;
      line-height: 24px;
      a {
        color: var(--white);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
  .video-container {
    max-height: 536px;
    overflow: hidden;
  }
}
// .carousel-tagline-anchor {
// .tagline-anchor {
//   position: absolute;
//   width: 100%;
//   bottom: 72px;
//   // top: calc(100% - 210px - 72px);
//   // top: 100%;
//   .tagline-container {
//     display: flex;
//     width: 100%;
//     max-width: 1280px;
//     margin: 0 auto;
//     .tagline {
//       display: flex;
//       color: var(--white);
//       background-color: rgba(0, 0, 0, 0.5);
//       padding: 55px 90px 40px;
//       font-size: 50px;
//       letter-spacing: 2px;
//     }
//   }
// }
// }

.heading1-container {
  width: 100%;
  background-color: var(--bright-gold);
  height: 50px;
  display: flex;
  .heading1 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 90px;
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 24px;
    p {
      margin-bottom: 0;
    }
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 40px;
}

.heading2-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 35px;
  background-color: var(--blue-heading);
  height: 50px;
  display: flex;
  .heading2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 90px;
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 24px;
    p {
      margin-bottom: 0;
    }
  }
}
.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 20px;
  .event1,
  .event2 {
    width: 100%;
    height: 390px;
    background-size: cover;
    background-position: center center;
    @include media('>=tablet') {
      width: calc(50% - (#{$spacing} / 2));
    }
    @include media('>=desktop') {
      width: calc(25% - #{$spacing} * 0.75);
    }
    .content-container {
      padding-top: 80px;
      padding-left: 20px;
      padding-right: 15px;
      padding-bottom: 10px;
      color: var(--white);
      position: relative;
      height: 100%;
      overflow: hidden;
      .event-background {
        background-position: center center;
        background-size: cover;
      }
      .event-background,
      .event-overlay-blue,
      .event-overlay-gold {
        z-index: -1;
      }
      .event-background,
      .event-overlay-blue,
      .event-overlay-gold {
        padding-bottom: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: var(--easeinout);
      }
      .event-overlay-blue {
        background-color: var(--blue);
      }
      .event-overlay-gold {
        background-color: var(--bright-gold);
      }
      &:hover {
        .event-overlay-blue,
        .event-overlay-gold {
          opacity: 0.6;
        }
      }
    }
  }
  .event1 {
    // background-color: var(--blue60);
    margin-bottom: $spacing;
    @include media('>=tablet') {
      margin-right: $spacing;
      margin-bottom: 0;
    }
    @include media('>=desktop') {
      margin-right: $spacing;
    }
  }
  .event2 {
    // background-color: var(--bright-gold80);
    @include media('>=desktop') {
      margin-right: $spacing;
    }
  }
  .event3 {
    width: 100%;
    height: 390px;
    position: relative;
    background-color: var(--white);
    background-position: center center;
    background-size: cover;
    margin-top: $spacing;
    @include media('>=desktop') {
      width: calc(50% - #{$spacing} / 2);
      margin-top: 0;
    }
    .content-container {
      width: 40%;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 30px 15px 20px 20px;
    }
  }
  .content-container {
    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: initial;
    }
    .description {
      font-size: 16px;
      line-height: 25px;
    }
    .event-more {
      background-color: var(--grey80);
      border: 0;
      &:hover {
        background-color: var(--grey60);
      }
      transition: var(--easeinout);
    }
  }
}
