@import 'include-media';
$spacing: 20px;

.landing {
  .brand-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    .image-container {
      height: 550px;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      border-bottom: 15px solid var(--blue-almex);
      &.orange {
        border-bottom: 15px solid var(--tango);
      }
      &.teal {
        border-bottom: 15px solid var(--allports);
      }
      .banner-image {
        background-size: cover;
        background-position: center center;
        height: 100%;
      }
    }
    .logo {
      margin: 40px auto;
    }
    .brand {
      display: flex;
      margin: 40px auto;
      &.almex-box,
      &.bat,
      &.cobra,
      &.emsys,
      &.fusion,
      &.institute,
      &.knight,
      &.rampart,
      &.votech {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.almex-box {
        width: 135px;
        height: 46px;
        background-image: url('../../static/img/logo-almex-box.png');
      }
      &.fusion {
        height: 70px;
        width: 305px;
        background-image: url('../../static/img/logo-fusion.svg');
      }
      &.emsys {
        width: 135px;
        height: 38px;
        background-image: url('../../static/img/logo-emsys.png');
      }
      &.bat {
        width: 101px;
        height: 72px;
        background-image: url('../../static/img/logo-bat.png');
      }
      &.cobra {
        width: 110px;
        height: 67px;
        background-image: url('../../static/img/logo-cobra.png');
      }
      &.votech {
        width: 179px;
        height: 66px;
        background-image: url('../../static/img/logo-votech.png');
      }
      &.rampart {
        width: 151px;
        height: 47px;
        background-image: url('../../static/img/logo-rampart.png');
      }
      &.institute {
        width: 100px;
        height: 88px;
        background-image: url('../../static/img/logo-institute.png');
      }
      &.knight {
        width: 55px;
        height: 103px;
        background-image: url('../../static/img/logo-knight.png');
      }
    }
    h2.brand-title {
      margin: 0px auto 20px;
      padding-left: 100px;
      padding-right: 100px;
      width: 100%;
      max-width: 1280px;
      font-size: 30px;
    }
    .brand-description {
      font-size: 24px;
      line-height: normal;
      padding-left: 100px;
      padding-right: 100px;
      margin-bottom: 50px;
    }
  }
  h2.landing-title {
    margin: 40px auto;
    width: 100%;
    max-width: 1280px;
    font-size: 36px;
  }
  .landing-section {
    padding-bottom: 20px;
    .title-container {
      display: flex;
      align-items: center;
      height: 55px;
      background-color: var(--blue-almex);
      margin: 0 auto 35px;
      width: 100%;
      max-width: 1280px;
      &.orange {
        background-color: var(--tango);
      }
      &.teal {
        background-color: var(--allports);
      }
      .section-title {
        margin: 0 auto;
        padding-left: 15px;
        width: 100%;
        max-width: 1280px;
        color: var(--white);
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
      }
    }
  }

  .tile-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 40px;
  }
}
