@import 'base';
$spacing: 20px;

.news {
  padding-left: 10px;
  padding-right: 10px;
  @include media('>=tablet') {
    padding-left: 0;
    padding-right: 0;
  }

  .news-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .banner-wrapper {
      border-bottom: 15px solid $blue;
      @include media('>=tablet') {
        border-bottom: none;
      }
      .banner-image {
        height: 325px;
        @include media('>=tablet') {
          height: auto;
          border-bottom: 15px solid $blue;
        }
      }
    }
    .intro-container {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      width: 100%;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .intro-content {
        @include media('>=desktop') {
          width: calc(75% - 20px);
          // padding-left: 20px;
          padding-right: 20px;
        }
        .title {
          font-size: 30px;
          color: $prussian-blue;
          font-weight: 700;
          padding-left: 10px;
          padding-right: 10px;
          @include media('>=tablet') {
            padding-left: 40px;
            padding-right: 40px;
          }
        }
        .description {
          font-size: 24px;
          line-height: normal;
          padding-left: 10px;
          padding-right: 10px;
          @include media('>=tablet') {
            padding-left: 40px;
            padding-right: 40px;
          }
          img {
            padding: 0 0 5px;
            @include media('>=tablet') {
              float: left;
              padding: 5px 20px 5px 0;
            }
          }
        }
      }
    }
    hr.divider {
      background-color: $blue;
      height: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      @include media('>=tablet') {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
      }
    }
    .article-container,
    .downloads-container,
    .tile-container,
    .archive-container {
      padding-left: 10px;
      padding-right: 10px;
      @include media('>=tablet') {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    .article-container {
      font-size: 16px;
      line-height: normal;
      @include media('>=tablet') {
        font-size: 20px;
      }
      a,
      a:active {
        color: $prussian-blue60;
        text-decoration: none;
        &:hover {
          color: $yellow-sea;
          text-decoration: underline;
          transition: $easeinout;
        }
      }
      h2 {
        font-size: 1.5em;
        color: $blue;
      }
      img {
        object-fit: contain;
        height: 100%;
        clear: both;
        margin: 0 0 20px 0;
        @include media('>=tablet') {
          margin: 0 0 20px 20px;
          float: right;
          height: initial;
          object-fit: none;
        }
      }
    }
    .downloads-container,
    .archive-container {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: normal;
      @include media('>=tablet') {
        font-size: 24px;
      }
      p {
        font-size: 0.85em;
        text-transform: uppercase;
        font-weight: 700;
      }
      .pdf {
        display: inline-flex;
        a,
        a:visited {
          color: $prussian-blue60;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          &:hover {
            color: $yellow-sea;
            text-decoration: underline;
            transition: $easeinout;
          }
        }
        .pdf-icon {
          display: inline-block;
          height: 32px;
          width: 24px;
          background-image: url('../../static/img/icon-file-pdf.svg');
          background-size: cover;
          background-position: center;
          margin-right: 10px;
        }
      }
    }
    .tile-container {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media('>=tablet') {
        flex-direction: row;
        flex-wrap: wrap;
      }
      button {
        width: 100%;
        height: 175px;
        display: inline-flex;
        flex-direction: column;
        padding: 0;
        border: 1px solid $grey80;
        margin-bottom: 20px;
        background-color: $white;
        color: $grey80;
        font-size: 18px;
        line-height: normal;
        @include media('>=tablet') {
          font-size: 24px;
          width: calc((100% - 20px) / 2);
          height: 235px;
        }
        @include media('>=wide') {
          width: calc((100% - 40px) / 3);
        }

        &.active {
          border: 1px solid $yellow-sea;
          box-shadow: inset 0 0 0 4px $yellow-sea;
        }
        .date {
          height: 43px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          @include media('>=tablet') {
            font-size: 0.85em;
          }
        }
        .tile {
          display: flex;
          flex-direction: row;
          .image {
            height: 120px;
            width: 120px;
            min-width: 120px;
            margin-left: 10px;
            @include media('>=tablet') {
              height: 180px;
              width: 180px;
              min-width: 180px;
            }
            img {
              height: 120px;
              width: 120px;
              @include media('>=tablet') {
                height: 180px;
                width: 180px;
              }
              object-fit: cover;
              margin: 0;
            }
          }
          .excerpt {
            text-align: left;
            color: $blue;
            font-weight: 700;
            padding-left: 10px;
            padding-right: 10px;
            @include media('>=tablet') {
              font-size: 0.85em;
            }
          }
        }
      }
    }
  }
}
