@import 'base';
$spacing: 20px;
@mixin bullet-blue {
  list-style-image: url('../../static/img/bullet-blue.svg');
  font-size: 20px;
  @include media('>=tablet') {
    font-weight: bold;
  }
}
@mixin bullet-orange {
  list-style-image: url('../../static/img/bullet-orange.svg');
  font-size: 20px;
  @include media('>=tablet') {
    font-weight: bold;
  }
}
@mixin bullet-teal {
  list-style-image: url('../../static/img/bullet-teal.svg');
  font-size: 20px;
  @include media('>=tablet') {
    font-weight: bold;
  }
}

.product {
  padding-left: 10px;
  padding-right: 10px;
  @include media('>=tablet') {
    padding-left: 0;
    padding-right: 0;
  }
  .product-container {
    max-width: 1280px;
    width: 100%;
    margin: 50px auto 0;
    .go-back + .showcase {
      margin-top: 0;
    }
    .go-back {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      @include media('>=tablet') {
        margin: 0 auto;
        justify-content: flex-end;
      }
      .link-container {
        width: 410px;
        text-align: left;
        @include media('>=tablet') {
          padding-left: 25px;
        }
        a {
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid $yellow-sea;
            color: $yellow-sea;
            .back-text {
              transition: $easeinout;
              color: $yellow-sea;
            }
          }
          .back-arrow {
            font-size: 150%;
            line-height: 14px;
            position: relative;
            top: 1px;
            color: $yellow-sea;
          }
          .back-text {
            color: $black;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
      .more-container {
        margin-top: 10px;
        &:hover {
          border-bottom: 2px solid $yellow-sea;
        }
        a {
          text-decoration: none;
        }
        .more,
        .more-arrow {
          color: $yellow-sea;
          text-decoration: none;
        }
        .more {
          letter-spacing: 0.8px;
          text-transform: lowercase;
        }
        .more-arrow {
          font-size: 150%;
          line-height: 14px;
          position: relative;
          top: 2px;
        }
      }
    }
    .showcase {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 25px;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .carousel-container {
        width: 100%;
        @include media('>=desktop') {
          margin-left: $spacing;
          margin-right: $spacing;
          width: calc(100% - 410px - (2 * #{$spacing}));
        }
        .carousel {
          // height: 56.25vw !important;
          height: auto;
          max-width: 830px;
          margin: 0 auto;
          // max-height: 450px;
          // overflow: hidden;
          .slide-image {
            height: 0;
            width: 100%;
            padding-bottom: 56.25%;
            @include media('>=wide') {
              height: 450px;
              padding-bottom: 0;
            }
            background-size: cover;
            background-position: center;
          }
          .video-container {
            height: 0;
            width: 100%;
            padding-bottom: 56.25%;
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .left-controls,
          .right-controls {
            border-radius: 40px;
            width: 50px;
            height: 50px;
            border: 0;
            background-color: $dark-blue20;
            color: $grey60;
            opacity: 0.7;
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            &:hover {
              opacity: 1;
            }
          }
          .left-controls {
            margin-left: 20px;
            .left-controls-icon {
              position: absolute;
              top: 5px;
              left: 14px;
            }
          }
          .right-controls {
            margin-right: 20px;
            .right-controls-icon {
              position: absolute;
              top: 5px;
              right: 14px;
            }
          }
        }
      }
      .data-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        @include media('>=tablet') {
          padding-left: 50px;
          padding-right: 50px;
        }
        @include media('>=desktop') {
          width: 410px;
          padding-left: $spacing;
          padding-right: $spacing;
          border-left: 1px solid $blue;
        }
        .brand {
          margin-top: 35px;
          margin-bottom: 20px;
          &.almex-box,
          &.bat,
          &.cmi,
          &.emsys,
          &.fusion,
          &.institute,
          &.knight,
          &.rampart,
          &.votech {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            // margin-left: 10px;
            // margin-right: 10px;
            display: inline-block;
            background-position-y: 0;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.almex-box {
            width: 135px;
            height: 46px;
            background-image: url('../../static/img/logo-almex-box.svg');
          }
          &.bat {
            width: 101px;
            height: 72px;
            background-image: url('../../static/img/logo-bat.svg');
          }
          &.cmi {
            width: 100px;
            height: 61px;
            background-image: url('../../static/img/logo-cobra.svg');
          }
          &.emsys {
            width: 135px;
            height: 38px;
            background-image: url('../../static/img/logo-emsys.svg');
          }
          &.fusion {
            width: 154px;
            height: 35px;
            background-image: url('../../static/img/logo-fusion.svg');
          }
          &.institute {
            width: 100px;
            height: 88px;
            background-image: url('../../static/img/logo-institute.svg');
          }
          &.knight {
            width: 55px;
            height: 103px;
            background-image: url('../../static/img/logo-knight.svg');
          }
          &.rampart {
            width: 125px;
            height: 39px;
            background-image: url('../../static/img/logo-rampart.svg');
          }
          &.votech {
            width: 179px;
            height: 66px;
            background-image: url('../../static/img/logo-votech.svg');
          }
        }
        .product-title {
          color: $prussian-blue;
          font-size: 25px;
          font-weight: bold;
        }
        .product-subtitle {
          margin-top: 10px;
          color: $prussian-blue60;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          &.orange {
            color: $tango;
          }
          &.teal {
            color: $allports60;
          }
        }
        .attraction-container {
          display: none;
          @include media('>=tablet') {
            background-color: #fff;
            display: flex;
            height: 154px;
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-top: 20px;
            overflow-x: hidden;
          }
          .svg-container,
          .circular-text {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            display: row;
            justify-content: center;
            align-items: center;
          }
          .circular-text {
            img {
              margin-bottom: 0;
            }
          }
          .text-container {
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            ul {
              margin-bottom: 0;
              margin-left: 1.5rem;
              li {
                list-style-type: square;
                padding-right: 5px;
              }
            }
          }
          #attractText1,
          #attractText2 {
            font-size: 14px;
            font-weight: bold;
            fill: $prussian-blue;
            text-transform: uppercase;
          }
          #attractText1 {
            letter-spacing: 5px;
          }
          #attractText2 {
            letter-spacing: 1px;
          }
        }
        .pdf-downloads {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          .pdf {
            display: inline-flex;
            a,
            a:visited {
              color: $prussian-blue60;
              font-size: 18px;
              text-decoration: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-bottom: 18px;
              &:hover {
                color: $yellow-sea;
                text-decoration: underline;
                transition: $easeinout;
              }
            }
            .pdf-icon {
              display: inline-block;
              height: 32px;
              width: 24px;
              background-image: url('../../static/img/icon-file-pdf.svg');
              background-size: cover;
              background-position: center;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .carousel-controls {
      display: none;
      button {
        border-radius: 0;
      }
      @include media('>=desktop') {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        .thumb-container {
          padding-bottom: 10px;
          &:not(:last-child) {
            margin-right: 20px;
          }
          &.active {
            border-bottom: 10px solid $yellow-sea;
          }
          .thumb-image {
            height: 155px;
            width: 155px;
            background-position: center;
            background-size: cover;
            border: 1px solid $grey60;
          }
        }
      }
      .play-icon {
        // font-size: 36px;
        height: 70%;
        width: 70%;
      }
    }
    .title-container {
      height: 55px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $prussian-blue;
      &.teal {
        background-color: $allports;
      }
      &.orange {
        background-color: $tango;
      }
      .section-title {
        color: $white;
        font-size: 20px;
        font-weight: bold;
        padding-left: 15px;
        @include media('>=tablet') {
          font-size: 28px;
        }
      }
    }
    .product-marketing,
    .product-advantages,
    .product-features,
    .product-info,
    .product-specs {
      font-size: 20px;
      line-height: normal;
      ul {
        margin-left: 1.5rem;
      }
      li {
        @include bullet-blue;
      }
      &.orange {
        li {
          @include bullet-orange;
        }
      }
      &.teal {
        li {
          @include bullet-teal;
        }
      }
    }
    .product-marketing {
      border-top: 2px solid $dark-blue60;
      padding: 25px 10px;
      @include media('>=tablet') {
        margin-left: 20px;
        margin-right: 20px;
        padding: 25px 30px 90px 30px;
      }
    }
    .product-advantages,
    .product-specs,
    .product-options {
      padding: 25px 10px;
      @include media('>=tablet') {
        padding: 35px 50px;
      }
    }
    .product-advantages {
      display: flex;
      flex-direction: column;
      @include media('>=tablet') {
        flex-direction: row;
      }
      .advantages-text {
        width: 100%;
        @include media('>=tablet') {
          width: 60%;
        }
      }
      .advantages-image {
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position: center;
        @include media('>=tablet') {
          width: 40%;
        }
      }
    }
    .features-info-container {
      display: flex;
      flex-direction: column;
      // padding-top: 35px;
      // padding-bottom: 35px;
      // padding-left: 100px;
      // padding-right: 100px;
      padding: 25px 10px;
      @include media('>=tablet') {
        margin-left: 20px;
        margin-right: 20px;
        padding: 35px 30px;
      }
      @include media('>=desktop') {
        flex-direction: row;
      }
    }
    .product-features + .product-info {
      margin-top: 20px;
      @include media('>=desktop') {
        margin-top: 0;
        margin-left: 40px;
      }
    }
    .product-features,
    .product-info {
      flex: 1 1 0;
      h4 {
        font-size: 23px;
        font-weight: bold;
      }
      &.orange {
        h4 {
          color: $tango;
        }
      }
      &.teal {
        h4 {
          color: $allports;
        }
      }
    }
    .product-advantages {
      background-color: $prussian-blue20;
      &.teal {
        background-color: $allports20;
      }
      &.orange {
        background-color: $tango20;
      }
    }
    .product-options {
      display: flex;
      align-items: flex-start;
      .option {
        svg {
          max-width: 200px;
          max-height: 200px;
          width: 100%;
          .bg {
            fill: $prussian-blue60;
          }
        }
        &:not(:first-child) {
          margin-left: 9%;
        }
        &.orange {
          svg {
            .bg {
              fill: $tango60;
            }
          }
        }
        &.teal {
          svg {
            .bg {
              fill: $allports60;
            }
          }
        }
      }
    }
    .product-accessories,
    .product-related-items {
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
      flex-wrap: wrap;
      // align-items: flex-end;
      align-items: center;
      @include media('>=tablet') {
        flex-wrap: nowrap;
        a {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .tile {
        .title {
          font-size: 20px;
          font-weight: bold;
          margin-top: 30px;
          margin-bottom: 15px;
        }
        flex: 1 1 275px;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-height: 275px;
        max-width: 275px;
        &:not(:last-child) {
          margin-right: 46.6px;
        }
        @include media('>=tablet') {
          min-width: 140px;
        }
        .image-container {
          // display: flex;
          // flex: 1 1 275px;
          // height: 100%;
          // width: 100%;
          // // justify-content: space-between;
          max-height: 275px;
          max-width: 275px;
          // justify-items: center;
          img {
            // width: 100%;
            object-fit: cover;
          }
          .background {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 275px;
            width: 275px;
          }
        }
      }
    }
  }
}
