@import 'include-media';
$spacing: 20px;
@mixin bullet-blue {
  list-style-image: url('../../static/bullet-blue.svg');
  font-size: 20px;
  font-weight: bold;
}
@mixin bullet-orange {
  list-style-image: url('../../static/bullet-orange.svg');
  font-size: 20px;
  font-weight: bold;
}
@mixin bullet-teal {
  list-style-image: url('../../static/bullet-teal.svg');
  font-size: 20px;
  font-weight: bold;
}

.test {
  // list-style
}
.product {
  // margin-top: 150px;
  .product-container {
    max-width: 1280px;
    width: 100%;
    margin: 50px auto 0;
    .go-back + .showcase {
      margin-top: 0;
    }
    .go-back {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      @include media('>=tablet') {
        margin: 0 auto;
        justify-content: flex-end;
        // text-align: right;
        // padding-right: ;
      }
      .link-container {
        width: 410px;
        text-align: left;
        @include media('>=tablet') {
          padding-left: 25px;
        }
        a {
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid var(--yellow-sea);
            color: var(--yellow-sea);
            .back-text {
              transition: var(--easeinout);
              color: var(--yellow-sea);
            }
          }
          .back-arrow {
            font-size: 150%;
            line-height: 14px;
            position: relative;
            top: 1px;
            color: var(--yellow-sea);
          }
          .back-text {
            color: var(--black);
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
      .more-container {
        margin-top: 10px;
        &:hover {
          border-bottom: 2px solid var(--yellow-sea);
        }
        a {
          text-decoration: none;
        }
        .more,
        .more-arrow {
          color: var(--yellow-sea);
          text-decoration: none;
        }
        .more {
          letter-spacing: 0.8px;
          text-transform: lowercase;
        }
        .more-arrow {
          font-size: 150%;
          line-height: 14px;
          position: relative;
          top: 2px;
        }
      }
    }
    .showcase {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 25px;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .carousel-container {
        width: 100%;
        @include media('>=desktop') {
          margin-left: $spacing;
          margin-right: $spacing;
          width: calc(100% - 410px - (2 * #{$spacing}));
        }
        .carousel {
          .slide-image {
            height: 0;
            width: 100%;
            // padding-bottom: 41.85%;
            // padding-bottom: 53.25%;
            padding-bottom: 56.25%;
            @include media('>=wide') {
              height: 450px;
              padding-bottom: 0;
            }
            background-size: cover;
            background-position: center;
          }
          .video-container {
            height: 0;
            width: 100%;
            padding-bottom: 56.25%;
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .left-controls,
          .right-controls {
            border-radius: 40px;
            width: 50px;
            height: 50px;
            border: 0;
            background-color: var(--dark-blue20);
            color: var(--gray60);
            opacity: 0.7;
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            &:hover {
              opacity: 1;
            }
          }
          .left-controls {
            margin-left: 20px;
            .left-controls-icon {
              position: absolute;
              top: 5px;
              left: 14px;
            }
          }
          .right-controls {
            margin-right: 20px;
            .right-controls-icon {
              position: absolute;
              top: 5px;
              right: 14px;
            }
          }
        }
      }
      .data-container {
        width: 100%;
        padding-left: $spacing;
        padding-right: $spacing;
        @include media('>=tablet') {
          width: 410px;
          padding-left: $spacing;
          padding-right: $spacing;
          border-left: 1px solid var(--blue-almex);
        }
        .brand {
          margin-top: 35px;
          margin-bottom: 20px;
          &.almex-box,
          &.bat,
          &.cobra,
          &.emsys,
          &.fusion,
          &.institute,
          &.knight,
          &.rampart,
          &.votech {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            background-position-y: 0;
          }
          &.almex-box {
            width: 135px;
            height: 46px;
            background-image: url('../../static/logo-almex-box.png');
          }
          &.fusion {
            width: 154px;
            height: 35px;
            background-image: url('../../static/logo-fusion.png');
          }
          &.emsys {
            width: 135px;
            height: 38px;
            background-image: url('../../static/logo-emsys.png');
          }
          &.bat {
            width: 101px;
            height: 72px;
            background-image: url('../../static/logo-bat.png');
          }
          &.cobra {
            width: 110px;
            height: 67px;
            background-image: url('../../static/logo-cobra.png');
          }
          &.votech {
            width: 179px;
            height: 66px;
            background-image: url('../../static/logo-votech.png');
          }
          &.rampart {
            width: 151px;
            height: 47px;
            background-image: url('../../static/logo-rampart.png');
          }
          &.institute {
            width: 100px;
            height: 88px;
            background-image: url('../../static/logo-institute.png');
          }
          &.knight {
            width: 55px;
            height: 103px;
            background-image: url('../../static/logo-knight.png');
          }
        }
        .product-title {
          color: var(--prussian-blue);
          font-size: 25px;
          font-weight: bold;
        }
        .product-subtitle {
          margin-top: 10px;
          color: var(--prussian-blue60);
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          &.orange {
            color: var(--tango);
          }
          &.teal {
            color: var(--allports60);
          }
        }
        .attraction-container {
          display: none;
          @include media('>=tablet') {
            // background-color: #eee;
            border: 1px dotted black;
            display: flex;
            height: 154px;
            width: 100%;
            overflow: hidden;
            position: relative;
          }
          .svg-container {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            display: row;
            justify-content: center;
            align-items: center;
            // z-index: 0;
          }
          .text-container {
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            ul {
              margin-bottom: 0;
            }
          }
          #attractText1,
          #attractText2 {
            font-size: 14px;
            font-weight: bold;
            fill: var(--prussian-blue);
            text-transform: uppercase;
          }
          #attractText1 {
            letter-spacing: 5px;
          }
          #attractText2 {
            letter-spacing: 1px;
          }
        }
        .downloads {
          padding-top: 30px;
          .pdf {
            a,
            a:visited {
              color: var(--prussian-blue60);
              font-size: 18px;
              text-decoration: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-bottom: 18px;
              &:hover {
                color: var(--yellow-sea);
                text-decoration: underline;
                transition: var(--easeinout);
              }
            }
            .pdf-icon {
              display: inline-block;
              height: 32px;
              width: 24px;
              background-image: url('../../static/icon-file-pdf.svg');
              background-size: cover;
              background-position: center;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .carousel-controls {
      display: none;
      button {
        border-radius: 0;
      }
      @include media('>=desktop') {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        .thumb-container {
          padding-bottom: 10px;
          &:not(:last-child) {
            margin-right: 20px;
          }
          &.active {
            border-bottom: 10px solid var(--yellow-sea);
          }
          .thumb-image {
            height: 155px;
            width: 155px;
            background-position: center;
            background-size: cover;
            border: 1px solid var(--grey60);
          }
        }
      }
      .play-icon {
        // font-size: 36px;
        height: 70%;
        width: 70%;
      }
    }
    .title-container {
      height: 55px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--prussian-blue);
      &.teal {
        background-color: var(--allports);
      }
      &.orange {
        background-color: var(--tango);
      }
      .section-title {
        color: var(--white);
        font-size: 28px;
        font-weight: bold;
        padding-left: 15px;
      }
    }
    .product-marketing,
    .product-advantages,
    .product-features,
    .product-info,
    .product-specs {
      font-size: 20px;
      line-height: normal;
      li {
        @include bullet-blue;
      }
      &.orange {
        li {
          @include bullet-orange;
        }
      }
      &.teal {
        li {
          @include bullet-teal;
        }
      }
    }
    .product-marketing {
      border-top: 2px solid var(--dark-blue60);
      margin-left: 40px;
      margin-right: 40px;
      padding: 25px 50px 90px 50px;
    }
    .product-advantages,
    .product-specs {
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 100px;
      padding-right: 100px;
    }
    .product-advantages {
      display: flex;
      flex-direction: column;
      @include media('>=tablet') {
        flex-direction: row;
      }
      .advantages-text {
        width: 100%;
        @include media('>=tablet') {
          width: 60%;
        }
      }
      .advantages-image {
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position: center;
        @include media('>=tablet') {
          width: 40%;
        }
      }
    }
    .features-info-container {
      display: flex;
      flex-direction: column;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 100px;
      padding-right: 100px;
      @include media('>=desktop') {
        flex-direction: row;
      }
    }
    .product-features + .product-info {
      margin-top: 20px;
      @include media('>=desktop') {
        margin-top: 0;
        margin-left: 40px;
      }
    }
    .product-features,
    .product-info {
      flex: 1 1 0;
      h4 {
        font-size: 23px;
        font-weight: bold;
      }
      &.orange {
        h4 {
          color: var(--tango);
        }
      }
      &.teal {
        h4 {
          color: var(--allports);
        }
      }
    }
    .product-advantages {
      background-color: var(--prussian-blue20);
      &.teal {
        background-color: var(--allports20);
      }
      &.orange {
        background-color: var(--tango20);
      }
    }
  }
}
