@import 'base';
$spacing: 20px;
.used-equipment {
  padding-left: 10px;
  padding-right: 10px;
  @include media('>=tablet') {
    padding-left: 0;
    padding-right: 0;
  }
  .used-equipment-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .banner-wrapper {
      border-bottom: 15px solid $yellow-sea;
      @include media('>=tablet') {
        border-bottom: none;
      }
      .banner-image {
        height: 200px;
        @include media('>=tablet') {
          height: auto;
          max-height: 340px;
          border-bottom: 15px solid $yellow-sea;
        }
        img {
          max-height: 325px;
        }
      }
    }
    .heading {
      display: flex;
      flex-direction: column;
      line-height: normal;
      margin-top: 40px;
      @include media('>=tablet') {
        flex-direction: row;
        align-items: center;
      }
      .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        @include media('>=tablet') {
          white-space: nowrap;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
      .description {
        font-size: 18px;
        a {
          color: $grey80;
          text-decoration: none;
          &:hover {
            color: $yellow-sea;
            text-decoration: underline;
          }
          transition: $easeinout;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .listing {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 25px;
      padding-top: 30px;
      border-top: 55px solid $yellow-sea;
      @include media('>=desktop') {
        flex-direction: row;
      }
      .carousel-container {
        width: 100%;
        @include media('>=desktop') {
          margin-left: $spacing;
          margin-right: $spacing;
          width: calc(100% - 410px - (2 * #{$spacing}));
        }
        .carousel {
          // height: 56.25vw !important;
          // max-height: 450px;
          // @include media('>=desktop') {
          //   max-height: 28.125vw;
          // }

          overflow: hidden;
          .slide-image {
            height: 0;
            width: 100%;
            padding-bottom: 56.25%;
            @include media('>=wide') {
              height: 450px;
              padding-bottom: 0;
            }
            background-size: cover;
            background-position: center;
          }
          .left-controls,
          .right-controls {
            border-radius: 40px;
            width: 50px;
            height: 50px;
            border: 0;
            background-color: $dark-blue20;
            color: $grey60;
            opacity: 0.7;
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            &:hover {
              opacity: 1;
            }
          }
          .left-controls {
            margin-left: 20px;
            .left-controls-icon {
              position: absolute;
              top: 5px;
              left: 14px;
            }
          }
          .right-controls {
            margin-right: 20px;
            .right-controls-icon {
              position: absolute;
              top: 5px;
              right: 14px;
            }
          }
        }
      }
      .details-and-controls {
        width: 100%;
        @include media('>=desktop') {
          width: 410px;
          border-left: 1px solid $blue;
          padding-left: 20px;
        }
        .date {
          color: $grey80;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 20px;
          @include media('>=desktop') {
            margin-top: 0;
          }
        }
        .status {
          color: $yellow-sea;
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 10px;
          margin-top: 20px;
          @include media('>=desktop') {
            margin-top: 0;
          }
        }
        .title {
          color: $prussian-blue;
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
          margin-top: 5px;
          text-transform: uppercase;
        }
        .model-number {
          color: $yellow-sea;
          font-size: 18px;
          font-weight: bold;
          line-height: normal;
        }
        .contact-info {
          color: $grey80;
          font-size: 20px;
          line-height: normal;
          margin-top: 20px;
          a {
            color: $grey80;
            text-decoration: none;
            &:hover {
              color: $yellow-sea;
              text-decoration: underline;
            }
            transition: $easeinout;
          }
        }
        .carousel-controls {
          display: none;
          button {
            border-radius: 0;
          }
          @include media('>=desktop') {
            display: flex;
            justify-content: flex-start;
            margin-top: 40px;
            .thumb-container {
              padding-bottom: 10px;
              &:not(:last-child) {
                margin-right: 20px;
              }
              &.active {
                border-bottom: 10px solid $yellow-sea;
              }
              .thumb-image {
                height: 80px;
                width: 80px;
                background-position: center;
                background-size: cover;
                border: 1px solid $grey60;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    .listing-specs {
      padding-left: 0px;
      padding-right: 0px;
      @include media('>=tablet') {
        padding-left: 40px;
        padding-right: 40px;
      }
      @include media('>=desktop') {
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 20px;
      }
      .listing-description {
        color: $grey80;
        font-size: 20px;
      }
    }
    .disclaimer {
      font-size: 18px;
      color: $grey80;
      border-top: 2px solid $prussian-blue60;
      padding: 20px 40px;
      margin-top: 40px;
    }
  }
}
